* {
  margin: 0;
  padding: 0;
}
/* GLOBAL STYLE */

body {
  background-image: url("img/wood-background.jpg");
  background-size: cover;
}

main {
  font-family: "Montserrat", sans-serif;
  font-family: "Oleo Script Swash Caps", cursive;
}

/* LAYOUT */

figure {
  margin-right: 250px;
  margin-left: 250px;
}
input {
  margin-left: 230px;
}
button {
  margin-left: 30px;
}

section {
  padding-top: 20px;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 20px;
}
/* container  */
.container-grocerylist {
  display: block;
  width: 700px;
  margin: 13px auto;
  border: 1px solid #b3b3ff;
  border-radius: 10px 10px 5px 5px;
  box-shadow: 0 12px 25px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: beige;
}
